# MR HASAR DANIŞMANLIK - UPLOADS GÜVENLİK
# EXCELLENCE DISTINGUISHES US ALWAYS

Options -Indexes

# PHP çalıştırmayı engelle
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

# PHP dosyalarını engelle
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps)$">
    Require all denied
</FilesMatch>
